/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: #ADD8E6;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#container {
    width: 60%;
    margin: auto;
}

/* Header */
#title {
    line-height: 100px;
    font-size: 70px;
    text-align: center;
    color: white;
}

/* Main */
.carta {
    float: left;
    position: relative;
    width: 22%;
    height: 200px;
    margin: 20px 4% 20px 0;
    border: solid 1px black;
    border-radius: 10px;
}
.retro {
    background-image: url('../img/pattern.png');
    background-size: cover;
    background-position: center;
}
.nascosto{
    display: none;
}
.fronte {
    background-color: white;
}
.carta:last-child {
    margin: 20px 0;
}
.retro:hover .nascosto {
    display: block;
}
.carta:hover {
    background-color: white;
    background-image: unset;
}

.img {
    height: 150px;
    display: block;
    margin: 10px auto;
    text-align:center;
}
.desc {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.baloon {
    color: fuchsia;
}
.tram {
    color: lime;
}
.tractor {
    color: orange;
}
.cruise {
    color: red;
}
.bicycle {
    color: midnightblue;
}
.submarine {
    color: cyan;
}

/* Footer */
#author {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}